{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          As a skilled software engineer, I've honed my expertise in various programming languages and technologies. Through extensive hands-on experience, I've developed a strong foundation in Python, a versatile language widely used in data science, automation, web development, game development, and app creation. My ability to leverage Python for a diverse range of projects showcases my adaptability and problem-solving skills.
        </p>
        <p>
          In addition to my proficiency in Python, I've also acquired a deep understanding of data science concepts and techniques. This knowledge enables me to extract valuable insights from complex datasets, build predictive models, and make data-driven decisions. My ability to combine my programming skills with data science expertise positions me as a valuable asset in today's data-centric world.
        </p>
        <p>
          Furthermore, I've successfully applied my software engineering skills to create a variety of applications, including websites, games, and mobile apps. My experience in these domains demonstrates my ability to transform ideas into functional and user-friendly software solutions. I'm passionate about leveraging technology to solve real-world problems and create innovative products.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
